:root {
  --primery-text-color: #212121;
  --auxiliary-text-color: #757575;
  --white-text: #ffffff;
  --hover-color: #2196f3;
  --hero-footer-color: #2f303a;
  --background-color: #e5e5e5;
  --auxiliary-background-color: #f5f4fa;
  --      
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  color: var(--primery-text-color);
  background-color: var(--white-text);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
div {

  /* outline: 2px solid red; */
}

/* #E5E5E5;   основний колір фону */
/* #F5F4FA;  допоміжний колір фону */
/* #212121;  колір основного тексту */
/* #757575;  колір допоміжного тексту */
/* #FFFFFF; білий */
/* #2196F3; синій */
/* rgba(255, 255, 255, 0.6);  колір mail, tel */
/* #2F303A;  колір hero+footer */

/* Logo */

.header {
  background-color: var(--white-text);
  padding: 24px 0 24px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* фото ГЕРОЙ */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/overlay.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* outline: 2px solid red; */
}
.flex {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}
.list {
  list-style: none;
}
.list-about {
  display: flex;
}

.list-nav {
  display: flex;
}

/*відступи між пунктами меню */
.list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  display: inline-block;
  margin-right: 101px;

  color: var(--hover-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.span-logo {
  display: inline-block;

  color: var(--primery-text-color);

  font-size: 26px;
}

.link {
  display: block;
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .current::after {
  content:'';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);;
  position: relative;
  left: 0;
  bottom: -31px;
}

.current {
  color: var(--hover-color);
}

.link:hover,
.link:focus {
  color: var(--hover-color);
}

.info {
  display: flex;
  list-style: none;

  margin-left: auto;
}

.item-message:not(:last-child) {
  margin-right: 30px;
}


.email,
.tel {
  color: var(--auxiliary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}




.email {
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-email {
  fill: var(--auxiliary-text-color);
  margin-right: 10px;
 
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover ,
.email:focus {
color: var(--hover-color);
}

.email:hover .icon-email,
.email:focus .icon-email{
fill: #2196F3;
}



.tel {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel:hover .icon-tel {
fill: #2196F3;
}

.icon-tel {
  fill: var(--auxiliary-text-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel:hover .icon-tel,
.tel:focus .icon-tel {
  fill: #2196F3;
}

.tel:hover,
.tel:focus {
  color: var(--hover-color);
}

/* Hero */
.hero {
  padding: 0;
}

.hero-title {
  margin-bottom: 30px;
  padding-top: 200px;
  color: var(--white-text);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  min-width: 100px;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  color: var(--white-text);
  background-color: var(--hover-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;

  cursor: pointer;
  border-radius: 4px;
  border: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--auxiliary-text-color);
}

/* section 1 index  about*/

.about-icon {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.about {
  padding-bottom: 0;
}

.desc {
  width: 270px;
}
.desc:not(:last-child) {
  margin-right: 30px;
}

.list-itms-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.list-items-text {
  color: var(--auxiliary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* section 2 index*/

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* section 3 index*/

.list-portrait {
  display: flex;
}

.portrait {
  padding: 30px 0;
}

.list-itms-subject {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-title-text {
  color: var(--auxiliary-text-color);

  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
} 


.portrait-list {
  display: flex;
  justify-content: center;
  list-style: none;
}
/* відстань між іконками */
.portrait-item + .portrait-item {
  margin-left: 10px;
}

.portrait-link {
  width: 44px;
  height: 44px;

  background-color: var(--white-text);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* колір самої іконки */

.portrait-icon {
  fill: #AFB1B8;
  display: block;

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* hover посилання */
.portrait-link:hover,
.portrait-link:focus {
background-color: var(--hover-color);
}
/* hover посилання самої іконки */
.portrait-link:hover .portrait-icon  {
  fill: var(--white-text);
}
.portrait-link:focus .portrait-icon  {
  fill: var(--white-text);
}

/* section4 picture*/

.pic {
  display: flex;
}
.pic-title {
  width: 100%;
  height: 70px;

  padding:  27px 80px;

 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 text-align: center;
 text-transform: uppercase;
 color: var(--white-text);
 background-color: rgba(47, 48, 58, 0.8);

 position: absolute;
 left: 0;
 bottom: 0;

}

.lict-img {
  width: 370px;
  position: relative;
}

.lict-img:not(:last-child) {
  margin-right: 30px;
}

/* section 5 team */
.team {
  padding-top: 94px;
  background-color: var(--auxiliary-background-color);
}

.item-portrait {
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item-portrait:not(:last-child) {
  margin-right: 30px;
}

/* section logos */

.logos-items {
  display: flex;
  justify-content: space-between;
}
.logos-link {
  display: block;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logos-link:hover,
.logos-link:focus {
border-color: var(--hover-color);
}

.logos-link:hover .logos-icon {
  fill: var(--hover-color);
}
.logos-link:focus .logos-icon {
  fill: var(--hover-color);
}


.logos-icon {
  display: block;
  fill: #AFB1B8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio */

.box {
  display: flex;
  justify-content: center;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  border: 0;
  border-radius: 4px;

  padding: 6px 22px;
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  font-family: inherit;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-text);
  background-color: var(--hover-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hide {
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}

/* сітка портфоліо */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 34px;
  }
/* сітка портфоліо */
.item-portfolio {
  list-style: none;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  }
/* сітка портфоліо */
.item-portfolio:nth-child(3n) {
  margin-right: 0;
}

.portfolio-cardtitle {
    margin-bottom: 4px;

  color: var(--primery-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.item-portfolio:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-link {
  text-decoration: none;
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-div {
  padding: 20px 24px;

  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-subtitle {
  
  color: var(--auxiliary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

 /* синій оверлей */

.portfolio-link:hover .portfolio-text {
transform: translateY(0);
}

.portfolio-link:focus .portfolio-text {
transform: translateY(0);
}

.link-popup {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-text);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


/* footer*/

.footer {
  background-color: var(--hero-footer-color);
  padding: 60px 0;
}

.footer-content {
   display: flex;
   align-items: baseline;
  }

  .div-address {
  width: 231px;
  }

.logofooter {
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  margin-bottom: 20px;
}

.item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-span {
  color: var(--white-text);
}

.footer-map {
  color: var(--white-text);

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-map:hover,
.footer-map:focus {
  color: var(--hover-color);
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71px;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--hover-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--hover-color);
}

.address {
  font-style: normal;
}

/* todo: network footer */

.network {
 width: 206px;
margin-left: 70px;
}

.network-subtitle {
  color: var(--white-text);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
 
  text-align: left;

}

.footer-linknetwork {
  background-color: rgba(255, 255, 255, 0.1);

}

.footer-icon {
  fill: #ffffff;
}

/* form footer */

.form-footer {
  margin-left: 93px;
}
.form-footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;

}

.form-footer-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-input {
  display: block;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 0 15px 16px;
  background-color: transparent;
  margin-right: 12px;
  color: #ffffff;
}
.telegram-svg {
  display: block;
  fill: #FFFFFF;
  margin-left: 10px;
  
}


.form-btn {

  display: flex;
  justify-content: center;
  align-items: center;
  
}

  
/* backdrop */

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms;
}

.is-hidden .modal {
  transform: rotate(-300deg) scale(0.5);
}

/* modal */

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1); 
  transition: transform 500ms;
} 

.button-icon {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon:hover, 
.button-icon:focus {
  border-color: var(--hover-color);
}

.modal-button-icon {
  fill: #000000;
  margin: 0 auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon:hover 
 .modal-button-icon {
  fill: var(--hover-color);
}

.button-icon:focus 
 .modal-button-icon {
  fill: var(--hover-color);
}

/* скривання модалки */

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* form */

.form-titl {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}



.label {
  display: block;
  
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--auxiliary-text-color);
  margin-bottom: 10px;
}
.input-div {
  display: block;
  position: relative;
}

.label coment {
 margin-bottom: 30px;
}

.textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: #2196f3;
 
}

.modal-input:hover + .form-svg {
  fill: #2196f3;
}
.modal-input:focus + .form-svg {
  fill: #2196f3;
}
  

.form-svg {
  
  display: inline-block;
  fill: #212121;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-svg:hover   {
  fill: #2196f3;
  
 }
 .form-svg:hover  .modal-input {
    border-color: #2196f3;
 }

 .textarea {
  height: 120px;
  padding-left: 16px;
  resize: none;
 }

 .checkbox-form-btn {
   
  display: block;
  padding: 10px 56px;
  margin: 0 auto;
 }

 /* checkbox  form*/

 .checkbox {
  margin-bottom: 30px;
  }

 .checkbox-label,
 .checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  display: flex;
  align-items: center; 
  justify-content: center;
  cursor: pointer; 
  
}

/* .checkbox-label {
  display: flex;
  align-items: center;
} */



 /* власний checkbox спосіб №1 */

/* .checkbox-label::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  
  margin-right: 7px;
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.checkbox-input:checked + .checkbox-label::before  {
 
  background-image: url(../images/icon-check.svg);
  border: none;
} */

 .checkbox-link {
  color: var(--hover-color);
 
 } 

 /* власний checkbox спосіб №2 використовуємо іконку зі спрайту */
 
 .checkbox-label span {
  
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: baound-collor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox-on-svg {
  fill: transparent;
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox-input:checked + .checkbox-label > span {
  background-color: var(--hover-color);
  border: none;
 
}

.checkbox-input:focus + .checkbox-label > span  {
  border-color: var(--hover-color);
}

.checkbox-input:checked + .checkbox-label > span {
  background-color: var(--hover-color);
  border: none;
 
}



.checkbox-input:checked + .checkbox-label svg {
fill: #FFFFFF;
}



/* скриваємо стандартний checkbox */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}




